* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(231, 240, 253);

}
main {
    margin: 0px 100px;
}

img {
    width: 100px;
    height: 90px;
}

.profile-left {
    padding: 30px;
}

.profile-middle {
    width: 200px;
    padding: 30px;
}

.job {
    font-size: 12px;
    color: rgb(105, 95, 95);
}

.edit {
    background-color: blue;
    color: white;
}

.resume {
    background-color: white;
    border-color: green;
    color: green;
    margin: 10px;
}

.profil-right p {
    display: inline-block;
}

.profil-right div {
    margin: 12px;
}

button {
    width: 80px;
    Height: 40px;
    margin: 30px 0;
}

.profile {
    background: white;
    margin: 20px;
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 150px;
}

.form {
    background: white;
    padding: 20px;
}

header {
    background: white;
    height: 40px;
    padding: 20px 100px 0 0;
}

a {
    color: red;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: right;
    gap: 20px;
}

li {
    list-style: none;
}

input {
    width: 100%;
    padding: 4px;
    margin: 8px 0;
}

.button {
    background-color: green;
    color: black;
}

